$primary: var(--wp--preset--color--primary);
$secondary: var(--wp--preset--color--secondary);
$text: var(--wp--preset--color--foreground);
$background: var(--wp--preset--color--background);

$font-base: var(--wp--preset--font-family--system-ui);
$font-size-base: var(--wp--preset--font-size--medium);

$space-xs: .5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 4rem;