<!-- wp:group {"tagName":"main", "layout":{"type":"constrained"}} -->
  <div class="d-flex">
    <!-- wp:template-part {"slug":"dashboard-aside"} /-->
    <main class="wp-block-group">
      <div class="p-4">
        <div class="info">
          <!-- wp:heading -->
            <h1 class="has-text-aling-left">Perfil</h1>
          <!-- /wp:heading -->
          <!-- wp:paragraph -->
            <p>Aqui você encontra todas as ferramentas para auxiliar na sua experiência.</p>
          <!-- /wp:paragraph -->
        </div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quam autem assumenda qui laboriosam impedit ipsum quasi fugit, ut quod hic quisquam consequatur quis quia voluptas id aliquid pariatur, esse omnis labore aut nesciunt mollitia enim? Suscipit voluptas distinctio amet incidunt fugiat commodi harum iure, et aut. Neque placeat debitis vitae sequi corporis? Fugit soluta cumque repudiandae exercitationem repellat animi alias tempora a accusantium ducimus eveniet vitae eum, totam eligendi iure dolores omnis ipsum eius sit eaque ipsa quibusdam voluptas! Cum ipsum sequi ipsa, earum omnis nesciunt minus quam tempore, sit accusamus suscipit distinctio labore adipisci perspiciatis, consectetur delectus nemo nihil animi ducimus consequatur unde velit libero dicta. Perspiciatis dolor a minima unde veniam amet cupiditate iusto itaque quia recusandae?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quae eos error ab quis magnam. Laboriosam, repellat et dolores cumque modi pariatur maxime molestiae porro fuga fugiat a magnam voluptatibus? Vel ratione eligendi voluptatum officia illo, fugiat nobis vitae? Sit explicabo iusto beatae officia facere aliquid, ad quam doloribus est.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, voluptas beatae inventore accusantium ea vitae dolore pariatur architecto culpa eaque?</p>
          <!-- wp:post-content /-->
        </div>
      </div>
    </main>
</div>
<!-- /wp:group -->