<!-- wp:group {"tagName":"main", "layout":{"type":"constrained"}} -->
  <div class="d-flex">
    <!-- wp:template-part {"slug":"dashboard-aside"} /-->
    <main class="wp-block-group">
      <div class="p-4">
        <div class="info">
          <!-- wp:heading -->
            <h1 class="has-text-aling-left">Minhas Viagens</h1>
          <!-- /wp:heading -->
        </div>
        <div class="content">
          <section class="mt-4">
            <!-- wp:heading -->
              <h2 class="has-text-aling-left">Detalhes do Voo</h2>
            <!-- /wp:heading -->
            <div>
              <div class="card card-info">
                <div class="p-3">
                  <div class="d-flex justify-content-between">
                    <div>
                      <p class="mb-0">Companhia Aérea</p>
                      <p class="fw-bold fs-5">LATAM Airlines</p>
                    </div>
                    <div>
                      <p class="mb-0">Nº do Voo</p>
                      <p class="fw-bold fs-5">LA8123</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mb-4">
                    <div class="details d-flex flex-column text-center position-relative">
                      <div class="fw-bold fs-4 text-uppercase">GRU</div>
                      <div>São Paulo</div>
                      <div>10:30</div>
                    </div>
                    <div class="divider divider--solid position-relative">
                      <div><p><span>direct</span></p></div>
                    </div>
                    <div class="details d-flex flex-column text-center position-relative">
                      <div class="fw-bold fs-4 text-uppercase">JPA</div>
                      <div>João Pessoa</div>
                      <div>13:45</div>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div>
                      <p class="fw-bold fs-5">Voo de Volta </p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="details d-flex flex-column text-center position-relative">
                      <div class="fw-bold fs-4 text-uppercase">GRU</div>
                      <div>São Paulo</div>
                      <div>10:30</div>
                    </div>
                    <div class="divider divider--solid position-relative">
                      <div class="stopped">
                        <p>1 Parada</p>
                        <span class="material-icons">flight_land</span>
                        <p>BSB - 1h 30m</p>
                      </div>
                    </div>
                    <div class="details d-flex flex-column text-center position-relative">
                      <div class="fw-bold fs-4 text-uppercase">JPA</div>
                      <div>João Pessoa</div>
                      <div>13:45</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="mt-4">
            <!-- wp:heading -->
              <h2 class="has-text-aling-left">Próximas viagens</h2>
            <!-- /wp:heading -->
            <div>
              <div class="card card-info">
                <div class="p-3">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-between">
                      <div>
                        <p class="mb-0 fw-bold fs-4">Aventura na Patagônia</p>
                        <p class="fs-6">15 a 22 de Julho</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <figure>
                        <img src="assets/images/default.png" alt="Thumbnail de viagens">
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="mt-4">
            <!-- wp:heading -->
              <h2 class="has-text-aling-left">Viagens passadas</h2>
            <!-- /wp:heading -->
            <div>
              <div class="card card-info">
                <div class="p-3">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-between">
                      <div>
                        <p class="mb-0 fw-bold fs-4">Explorando a Amazônia</p>
                        <p class="fs-6">Janeiro de 2023</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <figure>
                        <img src="assets/images/default.png" alt="Thumbnail de viagens">
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- wp:post-content /-->
        </div>
      </div>
    </main>
</div>
<!-- /wp:group -->